@model TarefaViewModel
<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">TiTulo</th>
                    <th scope="col">Data</th>
                    <th scope="col">Completo?</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var tarefa in Model.Tarefas)
                {
                    <tr>
                        <th scope="row">@tarefa.Id</th>
                        <td>@tarefa.Titulo</td>
                        <td>@tarefa.Data.ToString("dd/MM/yyyy")</td>
                        <td>
                            @if(tarefa.Completo)
                            {
                                <i class="text-success" data-feather="check-square"></i>
                            }
                            else
                            {
                                <i class="text-danger" data-feather="x-square"></i>
                            }
                        </td>
                        <td>
                            <a 
                                asp-controller="Tarefa"
                                asp-action="ToComplete"
                                asp-route-id="@tarefa.Id"
                                onclick="return confirm('Tem certeza que deseja concluir essa tarefa?')"
                                class="btn btn-sm btn-success @(tarefa.Completo ? "disabled" : "")"
                            >
                                Concluir
                            </a>
                            <a 
                                asp-controller="Tarefa"
                                asp-action="Edit"
                                asp-route-id="@tarefa.Id"
                                class="btn btn-sm btn-warning @(tarefa.Completo ? "disabled" : "")"
                            > 
                                Editar
                            </a>
                            <a 
                                asp-controller="Tarefa"
                                asp-action="Delete"
                                asp-route-id="@tarefa.Id"
                                onclick="return confirm('Tem certeza que deseja excluir essa tarefa?')"
                                class="btn btn-sm btn-danger"
                            >
                                Excluir
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <a
            asp-controller="Tarefa"
            asp-action="Create"
            class="btn btn-primary"
        >
            Nova Tarefa
        </a>
    </div>
</div>